################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/bin/
/obj/
/Properties/PublishProfiles
/.vs
/.config
/.idea

/appsettings.Development.json
/appsettings.json

/database_sync.cmd